psycopg2==2.6.1
dj-database-url
Django>1.10,<1.11

whoosh
lesscpy
whitenoise
waitress

-r requirements.docs.txt

aristotle-metadata-registry>=1.6.3
git+https://data61.githost.io/aristotle/aristotle-cloud.git@v1.6.0rc4#egg=aristotle-cloud-0.0.1