Pillow
requests>=2.4.1
selenium-requests
selenium
Sphinx==1.7.0b2
sphinx-rtd-theme
sphinx-autobuild
solar-theme
sphinxcontrib-fulltoc
sphinxcontrib-rawfiles
git+git://github.com/LegoStormtroopr/sphinx-selenium-screenshots.git@develop
-e ./python/docs_conf_and_theme