Pillow
requests>=2.4.1
selenium-requests
selenium
Sphinx
sphinx-rtd-theme
sphinx-autobuild
solar-theme
sphinxcontrib-fulltoc
sphinxcontrib-googleanalytics
sphinxcontrib-rawfiles
git+git://github.com/LegoStormtroopr/sphinx-selenium-screenshots.git@master