/* solar.css
 Our overrides
*/

img {
  box-shadow : 5px 5px 5px grey;
  border : gray solid 1px;
  display: block;
}

#aristotle-metadata-registry-user-documentation p {
 font-size: 18px;
 padding-top: 1.5em;
}

h1 {border-bottom: 1px solid grey;
}

hr {
   border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);
 
}
