/* solar.css
 Our overrides
*/

img.screenshot {
  box-shadow : 5px 5px 5px grey;
  border : gray solid 1px;
  display: block;
  /*max-width: 90%;*/
  /*margin-left: 10%*/
}

div.body ol {
    list-style: none;
    counter-reset: item;
}
div.body ol li {
    counter-increment: item;
    margin-bottom: 5px;
}
div.body ol li:before {
    margin-right: 10px;
    content: counter(item);
    background: #4e8382;
    border-radius: 100%;
    color: white;
    width: 1.3em;
    text-align: center;
    display: inline-block;
    font-size: 130%;
    float: left;
}

div.body ol li p.first {
    font-size: 140%;
    margin-left: 35px;
    /*border-bottom: 1px solid lightgrey;*/
    text-decoration: underline;
    text-decoration-color: lightgrey;
}

#aristotle-metadata-registry-user-documentation p {
    font-size: 18px;
    padding-top: 1.5em;
}

h1 {
    border-bottom: 1px solid grey;
}

hr {
   border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);
 
}
